css:
  .ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    margin-bottom: 0;
    background-color: #1b1c1d;
  }
  .full-center {
    margin: 0;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    text-align: center;
    color: white;
    transform: translateY(-50%);
  }
  .clear {
    clear: both;
    height: 3%;
  }

.clear
.ui.footer.segment
  .full-center
    p Autonomic Mind - All rights reserved
