---
title: General User Ranking
layout: /default.slim
---

.

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="user-ranking"
]
  ruby:
    users_code, totals_code = user_ranking_code
    users_hack, totals_hack = user_ranking_hack
    users_vbd, totals_vbd = user_ranking_vbd

    users_general = add_hashes(users_code, users_hack)
    users_general = add_hashes(users_general, users_vbd)

    users_general = add_percentage(users_general)

    totals_general = add_hashes(totals_code, totals_hack)
    totals_general = add_hashes(totals_general, totals_vbd)

    content_for :table_total_msg, totals_general['sltns'].to_s +
      ' total solved challenges'
  thead
    tr

      th.one.wide.sorter-false
        center
          | Position
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Position in ranking based on Unique solutions and
          Unique solutions percentage" ]
            i.question.circle.outline.icon

      th
        center
          | Username
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="user's username" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of solutions with no external solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges solved by the user" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions percentage
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Unique solutions compared to all solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Websites
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the user" ]
            i.question.circle.outline.icon

      th
        center
          | Certificate
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Download certificate of you solutions and ranking" ]
            i.question.circle.outline.icon

  tbody
    - users_general.each_key do |key|
      tr
        td.one.wide
          center -
        td
          center
            a href="./users/#{key}" #{key}
        td
          center #{users_general[key]['unique-sltns']}
        td
          center #{users_general[key]['sltns']}
        - if users_general[key]['unique-sltns-prcntg'].to_f >= 80
          td.positive
            center #{users_general[key]['unique-sltns-prcntg']}%
        - elsif users_general[key]['unique-sltns-prcntg'].to_f >= 60
          td.warning
            center #{users_general[key]['unique-sltns-prcntg']}%
        -else
          td.negative
            center #{users_general[key]['unique-sltns-prcntg']}%
        td
          center #{users_general[key]['npages']}
        td
          center
            button.ui.icon.button
              i.arrow.alternate.circle.down.icon
  tfoot
    tr
      th.one.wide
        center Totals
      th
        center -
      th
        center #{totals_general['unique-sltns']}
      th
        center #{totals_general['sltns']}
      th
        center -
      th
        center #{totals_general['npages']}
      th
        center -

script src="./scripts/certificate.js"
