---
title: Code Sites Ranking
layout: /default.slim
---

table.ui.selectable.orange.large.table.right.aligned.tablesorter[
  id="sites-ranking"
]
  ruby:
    t_inf, totals = sites_ranking_code
    tot = totals['total-internal-sltns'] +
      totals['total-external-sltns']
    content_for :table_total_msg, tot.to_s + ' total solutions'
  thead
    tr

      th.one.wide.sorter-false
        center
          | Position
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Position in ranking based on Pending challenges and
          External solutions per challenge" ]
            i.question.circle.outline.icon

      th
        center
          | Site
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Name and link to the coding site" ]
            i.question.circle.outline.icon

      th
        center
          | Challenges
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of challenges offered by the site" ]
            i.question.circle.outline.icon

      th
        center
          | Pending challenges
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
            data-tooltip="Challenges with no internal solution"
          ]
            i.question.circle.outline.icon

      th
        center
          | With internal solution
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Challenges with at least one internal solution" ]
            i.question.circle.outline.icon

      th
        center
          | With external solution
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Challenges with at least one external solution" ]
            i.question.circle.outline.icon

      th
        center
          | Unique solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of internal solutions to challenges with
          no external solutions" ]
            i.question.circle.outline.icon

      th
        center
          | Internal solutions
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Number of internal solutions for the site" ]
            i.question.circle.outline.icon

      th
        center
          | External solutions per challenge
          '
          br
          .mini.basic.ui.icon.button[ data-position="bottom center"
          data-tooltip="Average of external solutions per challenge" ]
            i.question.circle.outline.icon
  tbody
    - t_inf.each_key do |key|
      tr
        td.one.wide
          center -
        td
          center
            a href="#{t_inf[key]['url']}" target="_blank"
              | #{t_inf[key]['official-name']}
        td
          center #{t_inf[key]['challenges']}
        td
          center #{t_inf[key]['pending-chgs']}
        td
          center #{t_inf[key]['internal-chgs']}
        td
          center #{t_inf[key]['external-chgs']}
        td
          center #{t_inf[key]['unique-sltns']}
        td
          center #{t_inf[key]['total-internal-sltns']}
        td
          center #{t_inf[key]['ext-sltns-per-chg']}
  tfoot
    tr
      th
        center Totals
      th.one.wide
        center -
      th
        center #{totals['potential-chgs']}
      th
        center #{totals['pending-chgs']}
      th
        center #{totals['internal-chgs']}
      th
        center #{totals['external-chgs']}
      th
        center #{totals['unique-sltns']}
      th
        center #{totals['total-internal-sltns']}
      th
        center -
